<br />
<br />
<br />
<br />
<br />
<br />
<p>Welcome, <%= user.first_name %> <%= user.last_name %>. Please choose a tag for your photo.</p>

<form action="/photos/<%= user.id %>" method="post">
     <select>
   <% all_tags.each do |tag| %>
        <option value="<%= tag.title %>"><%= tag.title %></option>  
    <% end %>
   </select>
<input type="submit" name="Tag!" />
</form>

<br />
<br />
<br />
<br />
  <p><img src="../../<%= @pic_to_add.path.sub!(/public\//, '') %>"></p>
<br />
<br />

