<div class="container-fluid photo-page">
   <div class="left portrait">
    <% name="#{user.first_name} #{user.last_name}"%>
     <h2 class="title"><%= name %></h2>
     <img src="<%= "../#{picture.url}" %>" height="420" width="420">
   </div>
   <div class="photo-tags">
     <%picture.tags.each do |tag|%>
       <ul>
         <li><h5><%=tag.title%></h5><br>
           <%if picture.user_id==user.id%>
             <form action="../photos/<%=picture.id%>/remove_tag" method="get">
              <input type="hidden" name="picture_id" value="<%=picture.id%>"/>
              <input type="hidden" name="tag_id" value="<%=tag.id%>"/>
              <input type="submit" value="delete">
            </form>
           <%end%>
         </li>
       </ul>
     <%end%>
   </div>

   <%if picture.user_id==user.id%>
    <form action="../photos/<%=picture.id%>/add_tag" id="add-tag" method="post">
      <select name="title">
        <%Tag.all.each do |tag|%>
          <% unless picture.tags.include?(tag)%>
              <option name="title" value="<%=tag.title%>"><%=tag.title%></option>
          <%end%>
        <%end%>
      </select>
      <input type="hidden" name="picture_id" value="<%=picture.id%>">
      <input type="submit" value="add tag">
    </form><br>

  <%end%>


  <h1 class="title comment_title">DISCUSSION</h1>
   <div class="right">
    <% if picture.comments.count > 0 %>
        <% picture.comments.each do |comment|%>
          <ul>
              <% unless comment.parent_id %>
                 <%= erb :"comments/show", locals: {comment: comment, picture: picture, user: user} %>
              <% end%>
          </ul>
       <% end%>
    <% end%>
    <button class="hidden_create_btn indent-field">Create a comment</button>
      <div class="hidden_create">
         <%= erb :"comments/new", locals: { photo_id: picture.id,parent_id: nil} %>
      </div>
  </div>

</div>