<div class="container-fluid photo-page">

   <div class="left container-fluid">
    <% name="#{user.first_name} #{user.last_name}"%>
     <h2 class="title"><%= name %></h2>
     <img src="<%= "../#{picture.url}" %>" height="420" width="420">
   </div>

   <div class="right container-fluid">
    <% if picture.comments.count > 0 %>
      <h2 class="title">Comments:</h2>
      <% picture.comments.each do |comment|%>
      <ul>
        <li>
          <% unless comment.parent_id %>
            <h3><%=comment.user.first_name%></h3>
            <h3><%=comment.title%></h3>
            <p><%=comment.content%></p>

           <% if user.may_edit?(comment)%>
            <div class="edit_btns">
              <button class="hidden_edit_btn">edit</button>
              <div class="hidden_edit">
                <form action="/comments/<%=comment.id%>" method="POST">
                <input type="hidden" name="_method" value="put">
                <input type="text" name="title" placeholder="<%=comment.title%>"><br>
                <textarea name="content" placeholder="<%=comment.content%>"></textarea><br>
                <input type="submit" class="invisible_btn" value="update">
                </form>
              </div>
              <form action="/comments/<%=comment.id%>" method="POST">
                <input type="hidden" name="_method" value="Delete">
                <input type="submit" class="invisible_btn" value="Delete">
              </form>
              <button class="hidden_create_btn">comment</button>
              <div class="hidden_create">
                 <%= erb :"comments/new", locals: { photo_id: comment.photo.id, parent_id: comment.id} %>
              </div>
            </div>
          <% end %>
        </li>
      </ul>
      <% end%>
             <%if  comment.replies.count > 0%>
    <% end%>
    <% end%>
   </div>

</div>