  <link rel='stylesheet' href='/stylesheets/index.css' type='text/css'>


  <div class="login">
    <% if session[:message] %>
    <%= session[:message]%>
    <% session[:message].clear %>
    <% end %>

    <form action='/authentication/login' method='post'>
      <input type='text' name='handle' placeholder='HANDLE'/><br>
      <input type='password' name='password' placeholder='PASSWORD'/><br>
      <input class="btn btn-default"  type='submit' value='signin'/>
    </form>
  </div>

  <form action='/authentication/login' method='post'>
    <input class="form-control" type='text' name='handle' placeholder='HANDLE'/><br>
    <input class="form-control" type='password' name='password' placeholder='PASSWORD'/><br>
    <input class="btn btn-default"  type='submit' value='signin'/>
  </form>
</div>

<div class="well">
<div class="signup">
  <form action='/authentication/register_user' method='post'>
    <input class="form-control" type='text' name='first_name' placeholder='FIRSTNAME'/><br>
    <input class="form-control" type='text' name='last_name' placeholder='LASTNAME'/><br>
    <input class="form-control" type='text' name='email' placeholder='EMAIL'/><br>
    <input class="form-control" type='text' name='handle' placeholder='HANDLE'/><br>
    <input class="form-control" type='text' name='password' placeholder='PASSWORD'/><br>
    <input class="form-control" type='text' name='password_confirm' placeholder='PASSWORD'/><br>
    <input class="form-control" type='text' name='bio' placeholder='USER BIO'/><br>
    <input class="btn btn-default"  type='submit' value='sign up'/>
  </form>
</div>
</div>

  <div class="signup">
    <form action='/authentication/register_user' method='post'>
      <input type='text' name='first_name' placeholder='FIRSTNAME'/><br>
      <input type='text' name='last_name' placeholder='LASTNAME'/><br>
      <input type='text' name='email' placeholder='EMAIL'/><br>
      <input type='text' name='handle' placeholder='HANDLE'/><br>
      <input type='text' name='password' placeholder='PASSWORD'/><br>
      <input type='text' name='password_confirm' placeholder='PASSWORD'/><br>
      <input type='text' name='bio' placeholder='USER BIO'/><br>
      <input class="btn btn-default"  type='submit' value='sign up'/>
    </form>
  </div>
  <br>
  <br>

  <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="row panel">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="col-md-2">
            <% @tags.each do |tag| %>
            <a href="/tags/<%= tag.id %>" >
              <%= tag.title %>
            </a>
            <% end %>
          </div>

<!--           <div class="col-sm-6 col-md-4">
 -->          <div class="row">
              <% @allphotos.each_with_index do |photo, i| %>
                <%if i<2%>
                  <a class="photo loaded" data-ga-action="Click Photo" data-ga-category="Homepage Photo Grid" data-ga-label="80626185" href="/photos/<%= photo.id %>"><img src="../../<%=photo.url%>" id="row1"></a>
                <%end%>
              <%end%>


          <div class="row" style="height: 327px;">
            <!-- <div style="width: 339px; height: 327px;"> -->
            <% @allphotos.each do |photo|%>
              <%if photo.id==3 || photo.id== 4 || photo.id ==9 %>
                <a class="photo loaded" data-ga-action="Click Photo" data-ga-category="Homepage Photo Grid" data-ga-label="80626185" href="/photos/<%= photo.id %>"><img src="../../<%= photo.url %>" id="row2"></a>
              <%end%>
            <%end%>
            </div>
          <div class="row" style="height: 327px;">
          <% @allphotos.each do |photo|%>
              <%if photo.id==5 || photo.id== 6 || photo.id ==7 ||photo.id ==8 %>
                <a class="photo loaded" data-ga-action="Click Photo" data-ga-category="Homepage Photo Grid" data-ga-label="80626185" href="/photos/<%= photo.id %>"><img src="../../<%= photo.url %>" id="row3"></a>
              <%end%>
            <%end%>
          </div>








  </div>
</div>
</div>
</div>
